@import url('https://fonts.googleapis.com/css?family=Merriweather|UnifrakturMaguntia');
body {
  width: 80%;
  display: block;
  margin: 0 auto;
  font-family: 'Merriweather', serif;
  color: #242424;
  font-size: 10px;
}
header {
  text-align: center;
  margin-bottom: 3rem;
}
header img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
header h1 {
  font-size: 6rem;
  margin-bottom: 0;
}
h1 {
  font-family: 'UnifrakturMaguntia', cursive;
  font-weight: 400;
  width: 100%;
  text-align: center;
  color: #00356B;
}
h2, h3, h4, h5 {
  font-family: 'Merriweather', cursive;
  font-weight: 600;
  width: 100%;
  text-align: center;
  color: #00356B;
}
.edition {
  font-family: 'Merriweather', serif;
  width: 100%;
  text-align: center;
      color: #00356B;
}
.brand, a {
  color: #00356B;
  text-decoration: none;
}
h2 {
  font-size: 3rem;
  padding-top: 3rem;
}
h3 {
  font-size: 1.8rem;
  padding-top: 1.2rem;
  font-weight: 400;
}
h4 {
  font-size: 1.2rem;
  padding-top: .01rem;
  font-weight: 900;
}
span, p {
  font-size: 1.4rem;
  line-height: 1.8;
}
.code {
  font-size: 1rem;
  font-style: italic;
  color: #00356B;
}
canvas {
  margin: 2rem 0;
}



/**/
.koop header {
  padding-top: 30px;
}
.koop, .koop h2, .koop h3, .koop .edition, .koop h4 {
  color: #242424 !important;
  font-family: helvetica, sans-serif !important;
}
.koop .logos {
  text-align: center;
}
.koop header img {
  display: inline-block;
}
