/* FONTS */
@font-face {
    font-family: 'uni_black';
    src: url('fontfabric_-_unineueblack-italic-webfont.woff2') format('woff2'),
         url('fontfabric_-_unineueblack-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'uni_reg';
    src: url('fontfabric_-_unineueregular-italic-webfont.woff2') format('woff2'),
         url('fontfabric_-_unineueregular-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@import url(https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light|Pacifico|Dancing+Script|Shadows+Into+Light+Two|Coming+Soon|Handlee|Cookie|Tangerine|Great+Vibes|Damion|Patrick+Hand|Bad+Script|Calligraffitti|Waiting+for+the+Sunrise|Reenie+Beanie|Nothing+You+Could+Do|Sacramento|Crafty+Girls|Allura|Kalam|Yellowtail|Italianno|Give+You+Glory|Dawning+of+a+New+Day|League+Script|Ruthie|Lovers+Quarrel|Mrs+Saint+Delafield|Mrs+Sheppards|Meie+Script|Princess+Sofia|Caveat|Iceland);
/* MAIN SHIT */

#csgobig{
    text-align: center;
}
#csgobig img{
    width: 650px;
    padding-bottom: 7px;
}

body,
html {
    font-size: 12pt;
    background: url('/images/udm_bg.jpg') #ececec;
    color: #CCC;
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 2em;
}

.hidden{
    display: none;
}

a {
    color: #559EFF;
    text-decoration: none;
}

#footer a:hover {
    border-bottom: solid thin white;
}

ul a:hover {
    border-bottom: solid thin black;
}

hr {
    margin: 1em;
}
/* HEADER */

#head {
    text-align: center;
    font-family: "Iceland";
    padding: 10px;
    margin-bottom: 1em;
}
#head img {
  width: 250px;
}
#head h1 {
    margin: 0;
    padding: 0;
}

#head span {
    display: inline-block;
    color: red;
    -ms-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
    margin-left: 0.3em;
}
/* FOOTER */

#footer {
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    position: fixed;
    background: rgba(25, 25, 25, 0.9);
    text-align: center;
    font-family: "Iceland";
    padding: 10px;
}
/* LIST */

ul,
ol,
li {
    text-align: left;
    padding: 0;
    list-style: none;
    margin: 0;
    font-size: 10pt;
    margin-left: 0.5em;
    color: black;
    font-family: "Iceland", monospace;
}
/* WRAPS */

#wrapper {
    margin: auto;
    text-align: center;
    width: 900px;
    background-color: #FFF;
}

#wrapper::after {
    content: '';
    display: block;
    clear: both;
}

/* MISC */

.donate {
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 15px;
    color: black;
    font-family: "Iceland", monospace;
}

.form-line {
    margin-top: 1px;
    margin-bottom: 1px;
}

#cologne-team {
    display: none;
}

#name {
    width: 192px;
}

#changetype,
#cologne-team,
#dreamhack-team,
#comedy-team,
#custom-team,
#columbus-team,
#font,
#upload,
#bgbutton,
#clearbg{
    width: 228px;
}
#bgbutton,
#upload,
#clearbg{
    border-color: white;
    border-color: white;
}

.sp-replacer {
    margin-right: -4px;
}

#color {
    width: 60px;
}
#width, #height, #fontsize {
    width: 230px;
    float: left;
    clear: both;
    margin: 0 auto;
    text-align: center;
    display: block;
}
.regler {
  width: 250px;
  display: block;
  margin: 0 auto;
  clear: both;
}

.control {
    display: inline-block;
}

.help {
    padding: 5px;
    margin: 0;
    font-family: "Iceland", monospace;
    color: #000;
    text-align: center;
    margin-left: 2em;
}

.help i {
    color: gray;
    font-size: 10pt;
}
/* INPUT */

input[type=text] {
    font-size: 11px;
    line-height: 1.3em;
    padding: 8px 17px;
    vertical-align: middle;
    outline: none;
    border: 1px solid transparent;
    border-color: #CCC;
}
/* SELECT */

select,
select option {
    border-color: #CCC;
    font-size: 11px;
    outline: none;
    padding: 8px 17px;
    cursor: pointer;
}

select option:checked {
    background: rgba(100, 200, 100, .7);
}
/* RANGE */

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 240px;
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: white;
    border: solid thin black;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -9px;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: white;
    border: solid thin black;
}

input[type=range]::-moz-range-thumb {
    margin-top: -9px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: white;
    border: solid thin black;
}

input[type=range]::-ms-thumb {
    margin-top: -9px;
}
/* BUTTONS */

.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    line-height: 1.3em;
    text-align: center;
    white-space: nowrap;
    padding: 8px 17px;
    margin-bottom: 0;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    border: 1px solid transparent;
    background-image: none;
    background: none;
    color: white;
}

.btn-wide {
    width: 230px;
}

.btn-join {
    margin-left: -4px;
    width: 80px;
}
/* BUTTON DONATE */

.btn-donate {
    background: rgba(255, 135, 156, 1);
}

.btn-donate:hover {
    background: rgba(255, 175, 189, 1);
}
/* BUTTON DEFAULT */

.btn-default {
    border-color: rgba(52, 152, 219, 0.6);
    background: rgba(52, 152, 219, 1);
    color: white;
}

.btn-default:hover {
    background: #217DBB;
}
/* BUTTON SUCCESS */

.btn-success {
    border-color: rgba(52, 219, 75, 0.6);
    background: rgba(46, 201, 67, 1);
    color: white;
}

.btn-success:hover {
    background: #1DA52A;
}
/* BUTTON WARNING */

.btn-warning {
    border-color: rgba(238, 98, 98, 0.6);
    background: rgba(238, 98, 98, 1);
    color: white;
}

.btn-warning:hover {
    background: rgba(228, 67, 67, 1);
}
/* NOTICES */

.note {
    font-family: Arial;
    font-size: 13px;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.note i {
    width: 30px;
    display: inline-block;
    vertical-align: middle;
    font-size: 15pt;
}

.note p {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.note-default {
    background: rgba(52, 152, 219, 0.6);
}

.note-success {
    background: rgba(46, 201, 67, 0.6);
}

.note-warning {
    background: rgba(238, 98, 98, 0.6);
}

.banner {
    margin: auto;
    width: 728px;
    height: 90px;
    position: relative;
    margin-bottom: 1em;
}
.banner a {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
}
.banner img {
  width: 100%;
  height: 100%;
}
.banner > a:not(:first-child) {
  opacity: 0;
  visibility: hidden;
  transform: rotateX(180deg);
}
#canvas-wrap {
  display: block;
  clear: both;
  padding-top: 25px;
}
